/* h3 {
    color: rgb(42, 165, 120);
    background-color: black;
    font-size: 70px;
    text-decoration: line-through;
} */

/* class selector start */

.heading4 {
    color: aqua;
    font-size: 50px;
}

.heading_bg_color {
    background-color: blueviolet;
}

.para1 {
    color: rgb(25, 17, 17);
    font-size: 30px;
}

/* class selector end */


/* id selector start */

#heading5 {
    color: blueviolet;
    background-color: black;
    font-size: 50px;
}

/* id selector end */


/* TEXT FORMATING START*/

.t_transform_uppercase {
    text-transform: uppercase;
}

.t_transform_lowercase {
    text-transform: lowercase;
}

.t_transform_capitilize {
    text-transform: capitalize;
}

/* TEXT FORMATING END*/


/* Text Decoration Start */

.t_deco_underline {
    text-decoration: underline;
}

.t_deco_overline {
    text-decoration: overline;
}

.t_deco_linethrough {
    text-decoration: line-through;
}

.t_decor {
    text-decoration: overline line-through underline;
}

/* Text Decoration End */


/* Text Align Start */

.t_align_l {
    text-align: left;
}

.t_align_c {
    text-align: center;
}

.t_align_r {
    text-align: right;
}

/* Text Align end */

/* text spacing start */

.t_indent {
    text-indent: 100px;
}

.word_spacing {
    word-spacing: 20px;
}

.letter_spacing {
    letter-spacing: 10px;
}

.line_hight {
    line-height: 25px;
}

/* text spacing start */

/* font format start */

.f_family1 {
    font-family: cursive;
}

.f_family2 {
    font-family: monospace;
}

.f_family3 {
    font-family: fantasy;
}

.f_family4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.f_weight {
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    font-variant: small-caps;
}

/* font format end */

/* Shadow start */

.t_shadow {
    color: rgb(255, 132, 0);
    text-shadow: 2px 0px 0px gray;
    font-size: 60px;
}

.t_shadow2 {
    color: rgb(127, 7, 255);
    text-shadow: 3px 2px 6px black;
    font-size: 50px;
}

.b_shadow {
    width: 400px;
    box-shadow: 7px 6px 6px rgb(124, 96, 96);
}

.d_shadow {
    width: 400px;
    filter: drop-shadow(6px 7px 7px red);
}

/* Shadow end */

/* border properties start*/

.b_property1 {
    width: 400px;
    border: 10px solid rgb(84, 233, 84);
}

.b_property2 {
    width: 400px;
    border: 10px dotted rgb(84, 233, 84);
}

.b_property3 {
    width: 400px;
    border: 10px dashed rgb(84, 233, 84);
}

.b_property4 {
    width: 400px;
    border: 10px inset rgb(84, 233, 84);
}

.b_property5 {
    width: 400px;
    border: 10px outset rgb(84, 233, 84);
}

.b_property6 {
    width: 400px;
    border: 15px groove rgb(84, 233, 84);
}

.b_property7 {
    border: 10px solid;
    border-top-color: blue;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color: red;
    width: 400px;
    border-radius: 0% 20% 0% 20%;

}

/* border properties end*/

/* model start */

.b_model {
    border: 4px double blue;
    padding: 40px 60px 40px 60px;
    margin: 20px 40px 20px 40px;
}

.b_model2 {
    border: 5px groove red;
    padding: 30px;
    margin: 20px;
}

.b_img {
    border: 10px groove aqua;
    margin: 20px;
    padding: 10px;
}

/* model end */

/* position start  */

.box {
    width: 40px;
    height: 40px;
    border: 5px double red;
    padding: 90px;
    margin-bottom: 10px;
    background-color: aqua;
    font-size: 20px;
    text-align: center;
}

.box1 {
    position: static;
}

.box2 {
    position: relative;
    left: 300px;
    top: 50px;
}

.box3 {
    position: absolute;
    left: 400px;
    top: 20px;
}

.box4 {
    position: sticky;
    top: 10px;
}

.box5 {
    position: fixed;
    right: 10px;
    bottom: 0px;
}

/* position end  */

/* background start */

.linear {
    height: 400px;
    background: linear-gradient(orange, white, green);
}

.bg_heading {
    margin-top: 50px;
    color: blue;
    text-align: center;
    padding-top: 150px;
    font-size: 80px;
}

.radial {
    height: 700px;
    background: radial-gradient(circle, rgb(6, 6, 6), rgb(30, 243, 7), red);
}

.conic {
    height: 700px;
    background: conic-gradient(from 120deg, black, green, yellow, red);
}

/* background end */